* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}
a:hover {
    color: #CC8373;;
}

.cabecalho-imagem {
    height: 62px;
    
}
.zoom1 {
    overflow: hidden;
}
 .zoom1 img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.zoom1:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.cabecalho-menu {
    display: flex;
    gap: 32px;
    cursor: pointer;



}

.cabecalho-menu-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;


}

.conteudo-principal-escrito-titulo {
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
}

.conteudo-principal-escrito-subtitulo {
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
}

.conteudo-principal-escrito-botao {
    contain: ;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #2F2325;
    font-family: 'Sarala', sans-serif;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 185px;
    height: 67px;
    left: 369px;
    top: 382px;
    border: none;
    cursor: pointer;

}
button:hover {
    background-color: #CC8373;;
}

.conteudo-principal-imagem {
    height: 430px;
  

}
.zoom {
    overflow: hidden;
}
 .zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFF2E7;
    font-family: 'Righteous', cursive;
    margin-bottom: 16px;

}

.conteudo-secundario-paragrafo {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}

.rodape-imagem {
   height: 48px;
   display: block;
   margin: auto;
   
}
.rodape-imagem {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(200%);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }